:root {
  --fucsia\<deleted\|variable-6bbdef0b-45ab-d661-3a46-0f98f4aeb982\>: #f787f3;
  --mostaza\<deleted\|variable-eda04798-8e87-eee5-fd39-5c884ba9188b\>: #d9bb01;
  --verde\<deleted\|variable-69916dbe-71ba-d66f-8458-913d2cb0d12a\>: #729131;
  --purple\<deleted\|variable-1a6b488c-7ad5-af6e-7932-950650211c61\>: #662c93;
  --orange\<deleted\|variable-b112fe57-c1ea-76f8-5b86-3a1f7ae03cb7\>: #ff710b;
  --ligth-blue\<deleted\|variable-beb77701-5374-6e33-e3a2-c51824e00009\>: #29aae1;
  --tekhelet: #621695;
  --color-3: #a80874;
  --orange: #fcab11;
  --white\<deleted\|variable-7017bfe0\>: white;
  --black: black;
  --fucsia-transparente: rgba(221, 181, 208, .75);
  --color-4: rgba(255, 255, 255, .6);
  --calabaza: #ff710b;
  --color-2: #a2cca6;
  --bosque-verde: #008837;
  --color-5: white;
  --locura: #f7124b;
  --azul-electrico: #36eefc;
  --color: #facbef;
  font-weight: 400;
}

.btn-wsp{
  
  position:fixed;
  bottom:50px;
  right:50px;
  width: 4%;
  height: 8%;
  z-index:100;
  color:#FFF;
  text-align:center;
  transition: all 300ms ease;
}
.btn-wsp:hover{
  transform: scale(110%);  
}

.txtArea {
  margin-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.herolink {
  color: var(--color-3);
  -webkit-text-stroke-color: var(--color-3);
  margin-top: 32px;
  margin-bottom: 21px;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}

.addRestButton {
  width: 20%;
  text-align: center;
  font-weight: 500;
}

.socialWrapper {
  display: flex;
}

.subtitle {
  display: flex;
  justify-content: center;
  font-size: 14px;
  padding: 15px;
  font-weight: 400;
}


/*............................. navbar desktop .................................*/
.navbar{
  position:sticky;
  top: 0;
  background:#a2cca6;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-left: 7%;
  padding-right: 7%;
  font-family: Montserrat, sans-serif;
  z-index: 999;

}
.nav_logo{
  font-weight: bold;
  font-size: 20px;
  margin: 15px;
  color: white;
}
.nav_items {
  width: auto;
  height: 80px;
  display: flex;
  flex-direction: row;
  color: rgb(92, 82, 82);
  position: relative;
  text-decoration: none;
  z-index: 9999;
} 
.nav_items a{
  /* margin: 15px; */
  color: white;
  position: relative;
  text-decoration: none;
}
.nav_items p{
  display: flex;
  align-items: center;
  margin: 15px;
  color: white;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}  
.nav_items p:hover {
  color: black;
}

.nav_toggle{
  display: none;
}
/*..............................................................................*/

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.div-block {
  background-color: var(--fucsia\<deleted\|variable-6bbdef0b-45ab-d661-3a46-0f98f4aeb982\>);
}

.div-block-2 {
  background-color: var(--mostaza\<deleted\|variable-eda04798-8e87-eee5-fd39-5c884ba9188b\>);
}

.div-block-3 {
  background-color: var(--verde\<deleted\|variable-69916dbe-71ba-d66f-8458-913d2cb0d12a\>);
}

.div-block-4 {
  background-color: var(--purple\<deleted\|variable-1a6b488c-7ad5-af6e-7932-950650211c61\>);
}

.div-block-5 {
  background-color: var(--orange\<deleted\|variable-b112fe57-c1ea-76f8-5b86-3a1f7ae03cb7\>);
}

.div-block-6 {
  background-color: var(--ligth-blue\<deleted\|variable-beb77701-5374-6e33-e3a2-c51824e00009\>);
}



.div-block-7 {
  height: 2.3rem;
  background-color: var(--white\<deleted\|variable-7017bfe0\>);
  align-items: center;
  padding-left: 7%;
  padding-right: 7%;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}


.div-block-8 {
  height: 87vh;
  background-color: var(--black);
  background-image: linear-gradient(to bottom, var(--fucsia-transparente), var(--fucsia-transparente)), url('../public/images/IMG_0811-min.jpg');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  display: flex;
}

.heading {
  width: 100%;
  color: var(--color-3);
  text-align: center;
  margin-top: 3px;
  margin-bottom: 77px;
  font-family: Tivertonscript, sans-serif;
  font-size: 5.5rem;
  font-style: normal;
  line-height: 3.6rem;
  text-transform: capitalize;
  letter-spacing: normal;
  
}

.text-field {
  width: 90%;
}

.div-block-9 {
  width: 70%;
  height: auto;
  background-color: #fff;
  border-radius: 6px;
  justify-content: flex-start;
  align-items: center;
  /* margin-bottom: 22px; */
  padding: 1px;
  display: flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.search {
  width: 100%;
  display: flex;
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, .19);
}

.search-input {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-bottom: 0;
}

.search-button {
  height: 38px;
  background-color: var(--orange);
  border-top: 1px #c2c0c0;
  border-bottom: 1px #c2c0c0;
  border-right: 1px #c2c0c0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  display: block;
}

.image {
  width: 20px;
  min-width: 20px;
  height: auto;
  padding: 0px;
  margin-top: 0;
  margin-left: 0;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.div-block-10 {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.text-block {
  color: var(--color-3);
  margin-left: 8px;
  /* font-family: Montserrat, sans-serif; */
  font-size: .9rem;
}

.image-2 {
  width: 26px;
}

.div-block-11 {
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-right: 27px;
  display: flex;
}



.image-3 {
  margin-top: 0;
}

.image-4 {
  width: 44px;
  opacity: .7;
  cursor: pointer;
  margin-left: 17px;
  margin-right: 9px;
}

.image-4-shop {
  width: 44px;
  opacity: .7;
  cursor: pointer;
  margin-bottom: 0px;
}

.div-block-12 {
  margin-left: 37px;
  margin-right: 16px;
}

.brand {
  margin-top: 5px;
}

.section {
  padding: 6rem 7% 2.7rem;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
}

.wrapperprods {
  display: flex;
}

.wrapperstyckymenu {
  width: 20%;
  height: auto;
}

.prods {
  width: 100%;
  height: auto;
  background-color: rgba(206, 204, 204, 0);
  flex-flow: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 23px;
  margin-left: 1%;
  display: flex;
}

.stickymenu {
  margin-top: 41px;
  position: -webkit-sticky;
  position: sticky;
  top: 8rem;
}

.text-block-2 {
  background-color: var(--color-4);
  color: #2e2d2d;
  border-radius: 3px;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-size: 19px;
  font-weight: 600;
  display: inline-block;
}

.listitem {
  filter: none;
  color: #2e2d2d;
  cursor: pointer;
  background-color: rgba(248, 247, 248, 0);
  background-image: url('../public/images/logo2.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 6px;
  margin-top: 6px;
  padding-left: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
}

.listitemselected {
  font-weight: 700;

}

.list {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0;
}

.productcard {
  width: 22%;
  height: 39vh;
  background-color: #f8f8f6;
  border: 1px #dfdede;
  border-radius: 6px;
  margin: 0 1rem 2rem;
  transition: all .2s;
  display: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, .21);
}

.productcard:hover {
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, .25);
}

.div-block-13 {
  border-bottom: 4px solid var(--orange);
  padding-bottom: 5px;
  display: inline-block;
}

.div-block-14 {
  border-bottom: 5px #000;
  display: flex;
}

.div-block-15 {
  width: 100%;
  border-bottom: 3px solid #e0dede;
}

.div-block-16 {
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-5 {
  width: 5.1rem;
  display: none;
}

.div-block-17 {
  width: 100%;
}

.categorie {
  margin-bottom: 15px;
  padding-left: 1rem;
}

.heading-2 {
  margin-top: 0;
  margin-bottom: -1px;
  margin-left: 1%;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  transition: all .2s;
}

.text-block-3 {
  color: #7c7b7b;
  margin-bottom: 8px;
  margin-left: 1%;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
}

.picture {
  height: 67%;
  outline-offset: 0px;
  pointer-events: auto;
  outline: 3px #333;
  justify-content: center;
  display: flex;
  position: relative;
}

.offer {
  z-index: 777;
  background-color: var(--calabaza);
  color: #faf7f7;
  border-radius: 16px;
  margin: 8px;
  padding: 4px 7px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  display: block;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.productfooterwrapper {
  width: 100%;
  height: 33%;
  background-color: #fff;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5%;
  display: flex;
}

.title {
  width: 100%;
  height: 45px;
  max-height: 45px;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 600;
  display: block;
  overflow: hidden;
}

.text-block-4 {
  font-size: 17px;
}

.text-block-5 {
  color: var(--calabaza);
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

.addbutton {
  width: 100%;
  height: 4vh;
  border-style: solid;
  border-width: 1px;
  border-color: var(--orange\<deleted\|variable-b112fe57-c1ea-76f8-5b86-3a1f7ae03cb7\>) var(--orange\<deleted\|variable-b112fe57-c1ea-76f8-5b86-3a1f7ae03cb7\>) var(--calabaza);
  color: var(--calabaza);
  cursor: pointer;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  transition: all .2s;
  display: flex;
}

.addbutton:hover {
  background-color: rgba(255, 113, 11, .15);
}

.text-block-6 {
  color: #9b9999;
  margin-left: 10px;
  /* font-family: Montserrat, sans-serif; */
}

.div-block-18 {
  background-color: var(--orange\<deleted\|variable-b112fe57-c1ea-76f8-5b86-3a1f7ae03cb7\>);
}

.link {
  color: var(--color-3);
  -webkit-text-stroke-color: var(--color-3);
  margin-top: 32px;
  margin-bottom: 21px;
  /* font-family: Montserrat, sans-serif; */
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
}

.footer {
  width: 81%;
  height: 300px;
  background-color: var(--tekhelet);
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  padding: 33px;
  display: flex;
}

.paragraph {
  color: #bebcbc;
}

.footerwrapper {
  width: 100%;
  height: auto;
  justify-content: flex-end;
  font-size: 16px;
  display: flex;
}

.div-block-19 {
  width: auto;
  height: auto;
  background-color: var(--color-2);
  border-radius: 6px;
  padding: 57px;
}

.div-block-19.fullwidth {
  border-radius: 0;
  padding-left: 7%;
  padding-right: 7%;
}

.paragraph-2 {
  color: var(--color-3);
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

.columns {
  margin-top: 0;
}

.body {
  padding-bottom: 60px;
}

.div-block-20 {
  margin-top: 0;
  margin-bottom: 19px;
}

.link-2 {
  color: var(--color-3);
  text-decoration: none;
}

.footerlistitem {
  color: var(--color-3);
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

.column {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0;
  display: block;
}

.column-2 {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.column-3 {
  justify-content: flex-end;
  display: flex;
}

.text-block-7 {
  color: var(--color-3);
  text-align: left;
  font-family: Montserrat, sans-serif;
}

.upbutton {
  display: none;
}

.prodlink-block {
  width: 22%;
  height: auto;
  color: #033;
  background-color: #f8f8f6;
  border: 1px solid #dfdede;
  border-radius: 6px;
  margin-bottom: 2svw;
  margin-left: 1svw;
  margin-right: 1svw;
  text-decoration: none;
  transition: all .2s;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.prodlink-block:hover {
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, .2);
}

.section-2 {
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding: 140px 7%;
  display: flex;
}

.div-block-23 {
  width: 40%;
  height: 50vh;
  /* background-color: var(--orange); */
  /* background-image: url('../public/images/90656_VIVERA_UK_PACKSHOT_VEGGIE-BURGER-768x979.png'); */
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: flex-end;
  display: flex;
}

.div-block-24 {
  width: 50%;
  height: auto;
  background-color: rgba(122, 118, 118, 0);
  flex: 0 auto;
  padding-right: 0;
  position: relative;
}

.heading-3 {
  margin-top: 0;
  font-size: 1.8rem;
}

.paragraph-3 {
  margin-bottom: 35px;
  font-family: Montserrat, sans-serif;
}

.text-block-8 {
  color: var(--calabaza);
  margin-bottom: 13px;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.div-block-25 {
  background-color: var(--bosque-verde);
  color: #fcf9f9;
  border-radius: 6px;
  margin-top: 20px;
  padding: 9px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  display: inline-block;
}

.text-block-9 {
  color: #a7a5a5;
  margin-bottom: 12px;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
}

.text-block-9.agotado {
  color: var(--tekhelet);
}

.div-block-26 {
  width: auto;
  height: auto;
  background-color: var(--tekhelet);
  color: #fcf9f9;
  border-radius: 20px;
  margin-bottom: 13px;
  padding: 6px 12px;
  font-family: Montserrat, sans-serif;
  display: inline-block;
  position: relative;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.div-block-27 {
  width: 100%;/*81.5%;*/
}

.image-7 {
  width: auto;
  height: auto;
  object-fit: contain;
  position: relative;
}

.slider {
  width: 98%;
  height: 40vh;
  border-radius: 6px;
}

.div-block-28 {
  width: auto;
  justify-content: flex-end;
  display: flex;
}

.right-arrow, .left-arrow {
  display: none;
}

/* .slide {
  background-image: url('../public/images/slide1.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
} */

.slide-2 {
  background-image: url('../public/images/slide2.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-nav {
  border-radius: 6px;
}



.buttonswrapper {
  width: auto;
  display: flex;
  flex-direction: row;
}

.linkswrapper  {
  align-items: center;
  display: flex;
}

.div-block-29 {
  display: flex;
}

.bottomnavbar {
  display: none;
}

.div-block-30 {
  width: 20px;
  height: 20px;
  background-color: var(--color-3);
  color: #f8f6f6;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.div-block-31 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 0;
  position: relative;
}

.modalchart {
  z-index: 100000;
  width: 100%;
  height: 100vh;
  background-color: rgba(25, 25, 25, .67);
  justify-content: flex-end;
  margin-left: 0;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.div-block-32 {
  width: 32%;
  height: 100vh;
  background-color: var(--color-5);
}

.container-item-order{
  padding-top: 20px ;
  padding-bottom: 20px ;
  display: flex;
  flex-direction: column;
  gap: 10px
}

.totalitems {
  height: 7%;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  display: flex;
}

.text-block-10 {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
}

.image-8 {
  width: 44px;
  margin-right: 12px;
}

.div-block-33 {
  align-items: center;
  display: flex;
}

.div-block-34 {
  width: 33px;
  height: 33px;
  cursor: pointer;
  background-color: rgba(236, 234, 234, 0);
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  display: flex;
}

.div-block-34.anular {
  font-size: 15px;
}

.chartproduct {
  border-bottom: 1px solid rgba(0, 0, 0, .16);
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px 12px 17px;
  display: flex;
}

.moreless {
  width: 33px;
  flex-flow: column;
  align-content: flex-start;
  align-items: center;
  display: flex;
}

.morelessbutton {
  width: 33px;
  height: 33px;
  background-color: rgba(236, 234, 234, 0);
  border: 1px solid rgba(0, 0, 0, .36);
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  display: flex;
}

.morelessbutton.more {
  border-color: var(--color-3);
  color: var(--color-3);
}

.text-block-11 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
}

.productdetail {
  align-items: left;
  display: flex;
}

.producttext {
  padding-left: 10px;
}

.image-9 {
  width: 5.1rem;
}

.text-block-12 {
  color: #333;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.text-block-13 {
  color: rgba(51, 51, 51, .72);
  font-family: Montserrat, sans-serif;
  font-size: 12px;
}

.text-block-14 {
  color: var(--locura);
  font-family: Montserrat, sans-serif;
}

.chartprodswrapper {
  height: 80%;
  overflow: auto;
}

.buybutton {
  height: 7%;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  display: flex;
}

.button {
  width: 80%;
  background-color: var(--color-3);
  text-align: center;
  border-radius: 6px;
  font-family: Montserrat, sans-serif;
}

.login {
  z-index: 100000;
  width: 100%;
  height: 100vh;
  background-color: rgba(8, 9, 8, .58);
  justify-content: center;
  align-items: center;
  margin-top: 0;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.div-block-35 {
  width: 40%;
  height: auto;
  background-color: var(--color-5);
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  position: relative;
}

.image-10 {
  width: 39%;
  margin-bottom: 17px;
}

.text-block-15 {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.text-block-16 {
  margin-top: 4px;
  margin-bottom: 28px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
}

.loginfieldlabel {
  color: #6f6e6e;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: 600;
}

.logintextfield {
  border-radius: 6px;
  font-weight: 300;
}

.form-block {
  width: 60%;
}

.submit-button {
  width: 100%;
  background-color: var(--color-3);
  border-radius: 6px;
  margin-top: 14px;
  display: inline-block;
}

.div-block-36 {
  margin-bottom: 38px;
  display: flex;
}

.link-3 {
  color: rgba(76, 75, 75, .77);
  margin-left: 14px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer
}

.text-block-17 {
  color: rgba(51, 51, 51, .73);
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.text-block-18 {
  font-family: Montserrat, sans-serif;
}

.div-block-37 {
  width: 100%;
  height: 6vh;
  text-align: center;
  background-color: rgba(0, 0, 0, .11);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.div-block-38 {
  font-size: 15px;
}

.text-block-19 {
  cursor: pointer;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 22px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.div-block-39 {
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.stocklevel {
  background-color: var(--bosque-verde);
  color: #f7f4f4;
  border-radius: 20px;
  margin-top: 0;
  margin-bottom: -8px;
  margin-right: 8px;
  padding: 2px 7px;
  font-size: 12px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.stocklevel.agotado {
  background-color: var(--locura);
}

.list-2 {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
  display: flex;
}

.text-block-20 {
  color: var(--color-3);
  /* font-family: Montserrat, sans-serif; */
  font-size: 16px;
  font-weight: 500;
}

.section-3 {
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-left: 7%;
  padding-right: 7%;
  display: flex;
}

.shiptxtfield {
  border-radius: 6px;
  font-family: Montserrat, sans-serif;
}

.checkbox {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.div-block-40 {
  border: 1px solid #aca9a9;
  border-radius: 6px;
  justify-content: space-around;
  margin-top: 29px;
  padding: 22px;
  display: flex;
}

.section-4 {
  padding: 20px 7%;
}

.column-5 {
  height: auto;
  padding-left: 0;
}

.txtorderitem {
  height: auto;
  background-color: rgba(218, 197, 197, 0);
  /* border: 1px solid #adacac;
  border-radius: 6px; */
  padding: 10px 0;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.txtordersubitem {
  height: 35px;
  padding: 12px 12px 12px 5px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.ordersummary {
  
  background-color: #bae1be89 ;
  border-radius: 10px;
  flex-flow: column;
  padding: 30px;
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 140px;
}

.itemordersummary {
  justify-content: space-between;
  margin-bottom: 16px;
  display: flex;
}

.txtitemordersummary {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.column-6 {
  padding-right: 0;
}

.columns-2 {
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.deliveredpaid {
  background-color: var(--locura);
  opacity: 1;
  color: #f8f7f7;
  border-radius: 6px;
  padding: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deliveredpaid.paid {
  background-color: var(--locura);
}

.deliveredpaid.true {
  background-color: var(--bosque-verde);
}

.aboutsection {
  padding: 50px 7% 100px;
}

.aboutheading {
  /* font-family: Montserrat, sans-serif ; */
  font-size: 32px;
}

.aboutcolumn1 {
  padding-left: 0;
}

.aboutcolumns {
  margin-top: 49px;
  display: flex;
}

.block-quote {
  /* font-family: Montserrat, sans-serif; */
  line-height: 25px;
}

.aboutcolumn2 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.aboutlogo {
  margin-top: 40px;
  margin-bottom: 40px;
}

.aboutdiv41 {
  justify-content: center;
  align-items: center;
  margin-top: 26px;
  display: flex;
}

.aboutparag {
  text-align: center;
  margin-top: 0;
  /* font-family: Montserrat, sans-serif; */
  font-size: 18px;
  line-height: 25px;
}


@media screen and (max-width: 991px) {
  
  /*............................ navbar 991 ...........................*/

  .aboutsection {
    padding-left: 2%;
    padding-right: 2%;
  }


  .image-4 {
    cursor: pointer;
    margin-bottom: 7px;
  }

  .image-4-shop {
    
    margin-bottom: 9px;
  }

  .div-block-31 {
    /* display: flex;
    flex-direction: row;
    justify-content: left; */
    display: block;
    padding-right: 0;
    position: relative;
  }
  .buttonswrapper {
    align-items: left;
    display: flex;
    flex-direction: column; 
  }

  .navbar{
    padding-left: 2%;
    padding-right: 2%;
  }
  .nav_items {
      position: absolute;
      top: 80px;
      left: 0;
      background: #A2CCA6;
      display: flex;
      flex-direction: column;
      align-items: left;
      width: 100%;
      height: auto;
      transform: translateX(-100%);
      transition: 0.3s ease all;
      padding-bottom: 20px;
    }
  
    .nav_items.open {
      transform: translateX(0) !important
    }
  
    .nav_toggle {
      display: flex !important;
      flex-direction: column;
      margin: 0px;
    }
  
    .nav_toggle span {
      width: 30px;
      height: 4px;
      background: white;
      margin-bottom: 5px;
      border-radius: 2px;
      transform-origin: 5px 0px;
      transition: all 0.2s linear;
    }
  
    .nav_toggle.open>span {
      transform: rotate(45deg) translate(0px, 0px);
    }
  
    .nav_toggle.open>span:nth-child(2) {
      display: none;
    }
  
    .nav_toggle.open>span:nth-child(3) {
      transform: rotate(-45deg) translate(-5px, 1px);
    }
  /*..................................................................*/
  

  .div-block-7 {
    padding-left: 2%;
    padding-right: 2%;
  }

  .div-block-8 {
    background-image: linear-gradient(rgba(229, 191, 217, .6), rgba(229, 191, 217, .6)), url('../public/images/IMG_0811-min.jpg');
    background-position: 0 0, 50%;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
  }

  .heading {
    font-size: 5.4rem;
  }

  .div-block-12 {
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    display: flex;
  }

  .section {
    padding-left: 2%;
    padding-right: 2%;
  }

  .wrapperstyckymenu {
    width: 24%;
  }

  .listitem {
    font-size: .8rem;
  }

  .productcard {
    width: 44%;
  }

  .footerwrapper {
    padding-left: 2%;
    padding-right: 2%;
  }

  .div-block-19 {
    width: 100%;
  }

  .div-block-19.fullwidth {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
  }

  .column {
    justify-content: flex-start;
    padding-left: 0;
  }

  .menu-button {
    color: var(--orange);
  }

  .menu-button:active {
    background-color: rgba(60, 13, 100, .55);
  }

  .menu-button.w--open {
    background-color: #731aa0;
  }

  .column-4 {
    margin-bottom: 12px;
    padding-left: 0;
  }

  .div-block-21 {
    padding-top: 10px;
    padding-left: 20px;
    display: flex;
  }

  .prodlink-block {
    width: 44%;
    height: 50vh;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .section-2 {
    padding-left: 2%;
    padding-right: 2%;
  }

  .div-block-23 {
    width: 50%;
  }

  .div-block-24 {
    width: 65%;
  }

  .paragraph-3 {
    font-size: .9rem;
  }

  .text-block-8 {
    font-size: 1.6rem;
  }

  .div-block-27 {
    width: 100%;
    justify-content: flex-end;
    display: flex;
  }

  .slider {
    height: 20vh;
  }

  .slide {
    background-size: cover;
  }


  .div-block-32, .div-block-35 {
    width: 60%;
  }

  .section-3, .section-4 {
    padding-left: 2%;
    padding-right: 2%;
  }

  .column-5 {
    padding-right: 0;
  }

  .column-6 {
    margin-bottom: 27px;
    padding-left: 0;
  }

  .columns-2 {
    flex-flow: column;
  }
}

@media screen and (max-width: 767px) {

  .aboutcolumns {
    display: block;
  }

  .block-quote {
    margin-top: 25px;
  }


  .div-block-8 {
    background-image: linear-gradient(rgba(229, 188, 216, .6), rgba(229, 188, 216, .6)), url('../public/images/Banner-Mobile-1.jpg');
    background-position: 0 0, 50%;
  }

  .heading {
    font-size: 4.2rem;
  }

  .wrapperstyckymenu {
    width: 51%;
  }

  .productcard {
    width: 100%;
  }

  .div-block-16 {
    width: 80%;
  }

  .productfooterwrapper {
    height: 33%;
    padding: 5%;
  }

  .link {
    text-align: center;
    font-size: 23px;
    line-height: 24px;
  }

  .footerwrapper {
    padding-bottom: 0;
  }

  .div-block-19 {
    width: 100%;
    padding: 20px;
  }

  .body {
    padding-bottom: 90px;
  }

  .prodlink-block {
    width: 100%;
    height: 55vh;
    margin-bottom: 2rem;
  }

  .div-block-24 {
    width: 80%;
  }

  .slider {
    display: none;
  }

  .slide {
    background-size: contain;
  }

  

  .linkswrapper {
    display: none;
  }

  .bottomnavbar {
    z-index: 9999;
    background-color: var(--color-2);
    color: #f3f2f2;
    justify-content: space-around;
    padding: 10px 2%;
    font-family: Montserrat, sans-serif;
    display: none;
    position: fixed;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, .2);
  }

  .bottomnavbarbutton {
    color: var(--orange);
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    display: flex;
  }

  .buttonimg {
    width: 33px;
  }

  .buttontext {
    color: var(--color-3);
    font-size: 13px;
  }

  .body-2 {
    padding-bottom: 73px;
  }

  .link-block-2, .link-block-3 {
    color: var(--orange);
    text-decoration: none;
  }

  .div-block-32 {
    width: 81%;
  }

  .form-block {
    width: 70%;
  }
}

@media screen and (max-width: 479px) {

  .aboutcolumns {
    border: 1px solid #e4b;
    display: flex;
    flex-direction: column;
  }

  .row{
    font-size: 11px;
  }

  .col {
    font-size: 11px;
  }

  .btn-wsp{
    width: 12%;
    height: 6%;
  }

  .herolink {
    line-height: 30px;
  }
  

  .div-block-7 {
    padding-left: 2%;
    padding-right: 2%;
    justify-content: center;
  }

  .div-block-7 #citiesHeader {display: none;}


  .div-block-8 {
    background-image: linear-gradient(rgba(226, 186, 213, .6), rgba(226, 186, 213, .6)), url('../public/images/Banner-Mobile-1.jpg');
    background-position: 0 0, 50%;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
  }

  .heading {
    width: 100%;
    margin-bottom: 26px;
    font-size: 3.9rem;
    line-height: 4rem;
  }

  .div-block-9 {
    width: 100%;
  }

  .text-block {
    margin-left: 2px;
    font-size: .8rem;
  }

  .image-2 {
    width: 20px;
  }

  .div-block-11 {
    width: 100%;
  }

  .image-3 {
    width: 171px;
  }

  .image-4 {
    width: 20px;
    height: 20px;
    margin-left: 9px;
  }

  .section {
    margin-top: -79px;
    padding-top: 6.2rem;
  }

  .wrapperprods {
    flex-direction: column;
  }

  .wrapperstyckymenu {
    width: 90%;
    margin-bottom: 28px;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .prods {
    margin-left: 0%;
  }

  .stickymenu {
    position: relative;
    top: 0;
  }

  .div-block-16 {
    width: 89%;
  }

  .link {
    margin-top: 6px;
    font-size: 20px;
  }

  .column-2 {
    border-top: 1px solid var(--fucsia-transparente);
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 16px;
    padding-top: 15px;
    padding-left: 0;
  }

  .upbutton {
    z-index: 9999;
    width: 50px;
    height: 50px;
    background-color: var(--calabaza);
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
    margin-right: 1vh;
    padding-bottom: 0%;
    padding-right: 0%;
    display: none;
    position: fixed;
    top: auto;
    bottom: 0%;
    left: auto;
    right: 0%;
  }

  .div-block-22 {
    width: 20px;
    height: 30px;
    background-color: var(--calabaza);
    border-radius: 100px;
    position: relative;
  }

  .image-6 {
    width: 20px;
    height: 20px;
    filter: brightness(200%);
  }

  .section-2 {
    flex-flow: column;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .div-block-23 {
    width: 90%;
    height: 37vh;
  }

  .div-block-24 {
    width: 92%;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    padding-right: 0;
    display: flex;
  }

  .paragraph-3 {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .bottomnavbar {
    justify-content: space-around;
  }

  .body-2 {
    padding-bottom: 73px;
  }

  .div-block-32 {
    width: 100%;
  }

  .totalitems {
    height: 7%;
    border: 0 rgba(0, 0, 0, .84);
    border-bottom: 1px solid rgba(0, 0, 0, .19);
  }

  .chartproduct {
    margin-top: 0;
  }

  .image-9 {
    width: 4.2rem;
  }

  .text-block-12 {
    font-size: 13px;
  }

  .button {
    border-bottom: 1px solid #000;
  }

  .div-block-35 {
    width: 90%;
  }

  .form-block {
    width: 80%;
  }

  .text-block-20 {
    text-align: center;
    font-size: 15px;
  }

  .form {
    width: 100%;
  }

  .form-block-2 {
    width: 92%;
  }
}


@font-face {
  font-family: 'Tivertonscript';
  src: url('../public/TivertonScript-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

